main {
  flex: 1;
  padding: 2%;
}

main section .grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-container .grid img {
  width: 620px;
  height: auto;
  border: 3px #00e0ff solid;
  border-radius: 8px;
  padding: 6px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  justify-items: center;
}

figcaption {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grid-container .grid img {
    width: 50%;
    height: auto;
    justify-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container .grid img {
    width: 30%;
    height: auto;
    justify-items: center;
  }
}
