footer{
    background-color: #181818 ;
    padding: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*Altera o texto do footer*/
footer span{
    font-size: 0.8em;
    font-weight: 200;
    color: #909090;
}