/*Altera todos os itens dentro do main*/
main {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* MAIN CONTENT */

/*Texto h2 dentro do main*/
main h2 {
  margin-bottom: 2%;
  font-size: 2.2em;
}

/*Estilização dos textos dentro de article, dentro de main*/
main article p {
  margin-bottom: 2%;
  width: 75%;
  font-size: 1.5em;
  font-weight: 300;
}

/*Estilização dos botões, dentro do article, dentro do main*/
main article a.btn {
  display: inline-block;
  border: none;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #161616;
  color: #00e0ff;
  cursor: pointer;
  text-decoration: none; /* remove underline */
  transition: box-shadow 0.4s ease-in-out, transform 0.3s ease;
}

/*Se o mouse for colocado sobre os botões, ativa efeito de sombreamento*/
main article a.btn:hover {
  transform: scale(1.04);
  box-shadow: 0px 0px 4px #00e0ff;
}

/* ASIDE */

/*Nos próximos três exemplos, section, entre main e .techs, poderia ser ignorado*/
main section .techs .cards-container {
  display: flex;
  align-items: center;
}

/*Espaços com a classe card, dentro da div, são estilizados*/
main section .techs .cards-container .card {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #eee;
  border-radius: 8px;
  margin-right: 1.8em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: box-shadow 0.25s ease-in-out;
}

/*Estilização das imagens dentro das classes card*/
main section .techs .cards-container .card img {
  width: 90%;
}

.bg-gif {
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  background-image: url('../img/animacoes/MortedeHaku.gif?v=1');
  background-size: cover;
  background-position: 50% 80%;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: brightness(0.4);
  justify-content: center;
  transition: height 0.3s ease; /* isso é pra transição suave entre os tamanhos */
}
/* FIGURE */

main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main figure p {
  color: #a8a8a8;
  padding-bottom: 0.5rem;
}

main figure figcaption {
  font-size: 1.2rem;
  text-align: center;
}

main figure img {
  width: 20rem;
  height: 20rem;
  border-radius: 400px;
  margin-top: 6%;
  margin-bottom: 2%;
  border: 1px #045c68 solid;
}

/* Botao do linkedin fora do header - Embaixo da figure */
.btn-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 8px;
  background-color: #105b79;
  color: #fff;

  text-decoration: none;
  font-size: 28px;

  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-social:hover {
  background-color: #002d57;
}

.btn-social:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

main section .sobre {
  position: relative;
  margin-top: -15%;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 2%;
}

main section .techs {
  padding: 2%;
}

@media screen and (max-width: 768px) {
  main section .sobre {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2%;
  }

  main figure {
    align-items: start;
  }

  main article p {
    width: 100%;
  }

  .bg-gif {
    height: 20rem;
  }
}
