@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  /*Alteração universal*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", "Montserrat", sans-serif;
}

body { /*Alteração no escopo do body*/
  width: 100%;
  height: 100vh;

  background-color: #222222;
  color: #ffff; /*Altera a cor do texto*/
  display: flex; /*Torna todos os elementos dentro em peças flexíveis*/
  flex-direction: column; /*Ordena verticalmente os elementos (O padrão é horizontal)*/
  justify-content: space-between; /*Prende o cabeçalho e o rodapé no topo e fundo, o resto fica espaçado igualmente*/
}

a {
  /*Alteração para os links*/
  text-decoration: none;
}