main {
  padding: 2%;
  align-items: center;
  justify-content: center;
}

main section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* ✅ This allows items to move to the next line */
}

.anim img{
  max-width: 100%;
    width: 20em; /* ou qualquer tamanho desejado */
  height: auto; /* mantém a proporção original */
    border: 3px #00e0ff solid;
  padding: 0.375em;
}

.desenho img {
  max-width: 100%;
  width: 10.31em; /* ou qualquer tamanho desejado */
  height: auto; /* mantém a proporção original */
    border: 3px #00e0ff solid;
  padding: 0.375em;
}

.cards img {
  width: 10.625em; /* ou qualquer tamanho desejado */
  height: auto; /* mantém a proporção original */
    border: 3px #00e0ff solid;
  padding: 0.375em;
}

.container img {
  margin-right: 0.7em;
  border-radius: 0.5em;
  padding: 0.25em;
}

figcaption {
  text-align: center;
}

