/* Isso aqui é um estilo genérico de header, se quiser usar esse mesmo estilo em um header qualquer, é só passar o css pra página que usa */

header {
  background-color: #1d1d1d;
  padding: 1.56em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

header h1 {
  font-size: 2rem;
  font-weight: 200;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  font-size: 1.2em;
}

header h1,
a {
  color: #0e88c0;
}

/*Atenção na semântica aqui*/
header nav a:hover {
  color: #fff;
}
